@import "node_modules/plumber-sass/plumber";


// Color Variables
$brand-blue: #2D9CDB;
$brand-red: #CC5151;
$brand-green: #6FCF97;
$brand-white: #f2f2f2;
$brand-grey: #828282;

// Breakpoint Variables
$lg: 1024px;
$md: 990px;
$sm: 480px;

// Breakpoint mixin
@mixin breakpoint($mq01: 0, $mq2: false, $maxmin: min-width) {
    @if $mq2 == false {
        @media ($maxmin: $mq01) {
            @content;
        }
    }@else{
        @media (min-width: $mq01) and (max-width: $mq2) {
            @content;
        }
    }
}

html {
    font-size: 17px;
    box-sizing: border-box;
    @include breakpoint($md) {
        font-size: 18px;
    }
}

body {
    background-color: black;
    margin:0;
    padding: 0;
    height: 100%;
    width: 100%;
    @include breakpoint($sm){
        background-image: url('../img/bg.jpg');
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
        overflow-y: hidden;
        height: 100vh;
        width: 100vw;
    }
}

p{
    @include plumber(
		$grid-height: 0.5rem,
		$baseline: 0.273,
		$font-size: 1 * 2,
		// $line-height: 1 * 2,
		$leading-top: 1 * 2,
		$leading-bottom: 1 * 2
    );
    font-family: 'Rasa', serif;
    color: $brand-white;
    line-height: 1.5;
}

strong {
    font-weight: 600;
    color: $brand-blue;
}

h1{
    @include plumber(
		$grid-height: 0.5rem,
		$baseline: 0.158203,
		$font-size: 2.618 * 2,
		$line-height: 1 * 2,
		$leading-top: 1 * 2,
		$leading-bottom: 3
	);
    font-family: 'Roboto', sans-serif;
    color: $brand-blue;
}

h2 {
	@include plumber(
		$grid-height: 0.5rem,
		$baseline: 0.158203,
		$font-size: 1.618 * 2,
		$line-height: 1 * 2,
		$leading-top: 1 * 2,
		$leading-bottom: 1 * 2
	);
    font-family: 'Roboto', sans-serif;
    color: $brand-blue;
    &.subheader {
        color: $brand-white;
    }
}

button {
    display: inline-block;
    position: relative;
    border-radius: 2rem;
    height: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: 0;
    margin-right: .8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 1.1111rem;
    z-index: 1;
    cursor: pointer;
    transition: 0.08s ease-in;
    text-transform: lowercase;
    &.green {
        color: $brand-green;
        border: 2px $brand-green solid;
        background: linear-gradient(to bottom, black 50%, $brand-green 50%);
        background-size: 100% 200%;
        background-position: top;
        transition: all .2s ease;
        &:hover {
            background-position: bottom;
            color: black;
        }
    }
    &.white {
        color: $brand-white;
        border: 2px $brand-white solid;
        background: linear-gradient(to bottom, black 50%, $brand-white 50%);
        background-size: 100% 200%;
        background-position: top;
        transition: all .2s ease;
        &:hover {
            background-position: bottom;
            color: black;
        }
    }
    &.red {
        color: $brand-red;
        border: 2px $brand-red solid;
        background: linear-gradient(to bottom, black 50%, $brand-red 50%);
        background-size: 100% 200%;
        background-position: top;
        transition: all .2s ease;
        &:hover {
            background-position: bottom;
            color: black;
        }
    }
    &.grey {
        color: $brand-grey;
        border: 2px $brand-grey solid;
        background: linear-gradient(to bottom, black 50%, $brand-grey 50%);
        background-size: 100% 200%;
        background-position: top;
        transition: all .2s ease;
        &:hover {
            background-position: bottom;
            color: black;
        }
    }
    &:focus {
        outline: 0;
    }
}

.close-button {
    position: absolute;
    top: 1rem;
    right: 1rem;
    width: 1.8rem;
    height: 1.8rem;
    border: #f2f2f2 2px solid;
    border-radius: 50%;
    // font for 'X'
    cursor: pointer;
    color: $brand-white;
    font-family: 'Rasa', serif;
    font-size: 1.555rem;
    text-align: center;
    line-height: 2rem;
    // background fill effect
    background: linear-gradient(to bottom, black 50%, $brand-white 50%);
    background-size: 100% 200%;
    background-position: top;
    transition: all .2s ease;
    &:hover {
        background-position: bottom;
        color: black;
    }
}

#nav-bar {
    // XS breakpoint styling
    width: 100%;
    height: 3.5rem;
    background-color: black;
    top: 0;
    right: 0;
    .nav-item {
        display: none;
    }

    // MD+ breakpoint styling
    @include breakpoint($md) {
        position: fixed;
        right: 0px;
        top: 3rem;
        width: 26rem;
        height: 4.5rem;
        overflow: hidden;
        z-index: 100;
        background-color: black;
        .nav-item {
            float: left;
            display: block;
            height: 4.5rem;
            padding: 0 .8rem;
            border-top: 4px black solid;
            text-decoration: none;
            font-family: 'Roboto', sans-serif;
            font-size: 1.5rem;
            line-height: 4.5rem;
            color: $brand-white;
            &:hover {
                color: $brand-green;
            }
            &.active {
                border-top: 4px $brand-white solid;
                &:hover {
                    border-top: 4px $brand-green solid;
                    color: $brand-green;
                }
            }
        }
        transition: top .7s, right .7s;
        &.portfolio-active {
            // Calculate how far to the left the nav should go to line up with the edge of the portfolio div
            right: calc(100vw/2 - 30rem);
            top: 0;
        }
    }
}

#open-side-nav{
    position: absolute;
    right: 1rem;
    top: 1rem;
    svg{
        // margin: .8rem;
    }
    @include breakpoint($md){
        display: none;
    }
}

#side-nav {
    height: 100vh;
    width: 0;
    position: fixed;
    z-index:1000;
    top: 0;
    left: 0;
    padding-top: 4rem;
    transition: 0.3s;
    background-color: black;
    overflow-x: hidden;
    &.open {
        width: 100%;
    }
    .item {
        margin-left: 2rem;
        padding: .5rem .5rem .5rem 1.3rem;
        display:block;
        transition: 0.3s;
        
        // Font styling
        font-family: 'Roboto', sans-serif;
        color: $brand-white;
        text-decoration: none;
        @include plumber(
            $grid-height: 0.5rem,
            $baseline: 0.158203,
            $font-size: 2.618 * 2,
            $line-height: 1 * 2,
            $leading-top: 1 * 2,
            $leading-bottom: 10
            );
    }
}

// Only shows on mobile sizes (anything under $md breakpoint)
#mobile-bio-img {
    width: 100vw;
    height: 50vh;
    background-image: url('../img/bio.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    @include breakpoint($md){
        display: none;
    }
}

// Only shows on desktop/tablet sizes (anything over $md breakpoint)
#content-min {
    display: none;
    @include breakpoint($md){
        box-sizing: border-box;
        display: block;
        position: fixed;
        left: 0px;
        bottom: 4rem;
        padding: 2.5rem 4rem;
        width: 38rem;
        height: 15rem;
        background-color: black;
        transition: left 0.7s;
        &.hidden {
            display: none;
        }
        &.closed {
            left: -38rem;
        }
        .bio-img {
            position: relative;
            float: left;
            border-radius: 50%;
            width: 10rem;
            height: 10rem;
            margin-right: 1rem;
            background-image: url('../img/bio.jpg');
            background-repeat: none;
            background-size: cover;
        }
        .content-min-text {
            position: relative;
            float: right;
            width: 270px;
        }
        #content-more {
            position: absolute;
            bottom: 1rem;
            right: 1rem;
            font-size: 2rem;
            color: $brand-white;
            cursor: pointer;
        }
    }
}

#content-max {
    // xs breakpoint styling
    box-sizing: border-box;
    width: 100%;
    background: black;
    padding: 1rem;
    .bio-col-left{
        display: none;
    }
    #bio-close-button{
        display: none;
    }
    &.mobile-hidden {
        display: none;
    }

    // md+ breakpoint styling
    @include breakpoint($md) {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 38rem;
        padding: 4.5rem 3.5rem 0rem 6.5rem;
        padding-bottom: -9rem;
        background-color: black;
        overflow-y: hidden;
        transition: left 0.7s;
        &.closed {
            left: -38rem;
        }
        &.mobile-hidden{
            display: block;
        }
        #bio-close-button{
            display: block;
        }
        .bio-col-left {
            display: block;
            float: left;
            width: 10rem;
            margin-right: 2rem;
            .bio-img {
                border-radius: 50%;
                width: 10rem;
                height: 10rem;
                margin-right: 1rem;
                background-image: url('../img/bio.jpg');
                background-repeat: none;
                background-size: cover;
            }
            .social-list {
                margin-top: 1rem;
                border-right: 1px $brand-white solid;
                padding: 0;
                .social-item {
                    display: block;
                    height: 2.5rem;
                    padding: .25rem 1rem;
                    font-family: 'Roboto', sans-serif;
                    font-size: 1.111rem;
                    line-height: 2.5rem;
                    color: $brand-white;
                    text-align: right;
                    text-decoration: none;
                    border-right: 3px black solid;
                    &:hover {
                        border-right: 3px $brand-white solid;
                    }
                }
            }
        }
        .bio-col-right {
            float: right;
            width: 15rem;
            height: 100%;
            overflow-y: scroll;
            
        }
    }
}

#portfolio {
    box-sizing: border-box;
    background: black;
    width: 100%;
    padding: 1rem;
    &.mobile-hidden{
        display: none;
    }

    // md+ breakpoint styling
    @include breakpoint($md) {
        display: block;
        position: relative;
        margin: 0 auto;
        width: 60rem;
        height: 100vh;
        padding: 4.5rem;
        overflow-y: scroll;
        bottom:0;
        transition: all 1s;
        &.closed {
            bottom: -130vh;
        }
        &.mobile-hidden{
            display: block;
        }
        .portfolio-header{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-column-gap: .5rem;
            width: 100%;
            .portfolio-info {
                grid-column: 1/4
            }
            .portfolio-selector {
                padding-top: 1rem;
                text-align: right;
                button{
                    height: 2.5rem;
                    width: 2.5rem;
                    i {
                        &.fa-camera{
                            margin-left: -0.4em;
                        }
                        &.fa-code {
                            margin-left: -0.5em;
                        }
                    }
                }
            }
        }
    }

}

#portfolio-dev, 
#portfolio-photography {
    &.hidden {
        display: none;
    }
}

.dev-grid {
    display: grid;
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
    width: 100%;
    margin-top: 1rem;

    .dev-item {
        box-sizing: border-box;
        width: 100%;
    }
    .dev-item-img {
        height: 20rem;
        background-size: cover;
        background-position: center center;
        width: 100vw;
        margin-left: -1rem;
        margin-right: -1rem;
        text-align: center;
        .dev-buttons {
            margin: 40% auto;
            opacity: 0;
        }
        &:hover{
            .dev-buttons {
                display: block;
                opacity: 1;
            }
        }
    }
    #cs-proj {
        background-image: url(../img/culture-stack.png);
        transition: 1s;
        &:hover {
            background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/culture-stack.png);
            background-size: cover;
            background-position: center center;
        }
    }
    #nyt-proj {
        background-image: url(../img/nyt-search.png);
        &:hover {
            background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/nyt-search.png);
            background-size: cover;
            background-position: center center;
        }
    }
    #mh-proj {
        background-image: url(../img/me-hungry.png);
        &:hover {
            background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(../img/me-hungry.png);
            background-size: cover;
            background-position: center center;
        }
    }

    @include breakpoint($md){
        grid-template-columns: 1fr 1fr;
        .dev-item {
            padding: 0 1rem;
        }
        .dev-item-img{
            margin: 0;
            width: 100%;
        }
    }
}

.photo-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-column-gap: 0.5rem;
    width: 100%;
    height: auto;
    margin-top: 1rem;
    .photo-column {
        width: 100%;
        line-height: 0;
        .photo {
            margin-bottom: .5rem;
            width: 100%;
            background-color: $brand-blue;
            cursor: pointer;
        }
    }
    @include breakpoint($md){
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

#contact {
    box-sizing: border-box;
    background: black;
    width: 100%;
    padding: 1rem;
    #contact-methods {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        width: 100%;
        margin: 0;
        padding: 0;
        height: 4rem;
        
        button{
            margin: 0;
            height: 4rem;
            width: 4rem;
            i {
                &.fa-2x{
                    margin-left: -0.18rem;
                }
            }
        }
        
        #contact-slack {
            position: relative;
            display: inline-block;
            width: 4rem;
            height: 4rem;
        }   
    }
    &.mobile-hidden{
        display: none;
    }
    @include breakpoint($md) {
        box-sizing: border-box;
        display: block;
        position: absolute;
        right: 0;
        bottom: 9rem;
        width: 25rem;
        height: 18rem;
        padding: 2rem 3.5rem;
        background: black;
        transition: right .7s;
        &.closed {
            right: -25rem;
        }
        &.mobile-hidden{
            display: block;
        }
    }
}